.success{
    /* display:flex; */
    display: none;
    z-index:3;
    position: fixed;
    top: 0px;
    right:0px;
    bottom:0;
    left:0px;
    background-color:rgba(0,0,0,0.4);
    align-items:center;
    justify-content: center;
    z-index:2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}
.success .success-container{
    background-color:#fff;
    width:400px;
    height: 400px;
    min-height:200px;
    position: relative;
    max-width: calc(100% - 32px);
    border-radius: 20px;
    padding:50px;
    padding-top: 70px;
}
.success .success-container .ti-check{
    color: white;
    background-color: rgb(255, 102, 0);
    font-size: 150px;
    border-radius: 50%;
    padding:30px;
    margin: 50px;
}
.success .success-container h3{
    margin-top: 50px;
    text-align: center;
}
.success .success-container button{
    margin-top: 30px;
    color: white;
    background-color: rgb(255, 102, 0);
    padding: 10px;
    border:rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    margin-left: 19%;
    font-weight: bold;
    font-size: 18px;
}
.success .success-container button:hover{
    opacity: 0.8;
    cursor: pointer;
}

.failed{
    display: none;
    /* display:flex; */
    z-index:3;
    position: fixed;
    top: 0px;
    right:0px;
    bottom:0;
    left:0px;
    background-color:rgba(0,0,0,0.4);
    align-items:center;
    justify-content: center;
    z-index:2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}
.failed .failed-container{
    background-color:#fff;
    width:400px;
    height: 400px;
    min-height:200px;
    position: relative;
    max-width: calc(100% - 32px);
    border-radius: 20px;
    padding:50px;
    padding-top: 100px;
}
.failed .failed-container .ti-close{
    color: white;
    background-color: black;
    font-size: 70px;
    font-weight: bold;
    border-radius: 50%;
    padding:60px;
    margin: 50px;
}
.failed .failed-container h3{
    margin-top: 90px;
    text-align: center;
}
.failed .failed-container button{
    margin-top: 30px;
    color: rgb(255, 102, 0);
    border: solid 2px rgb(255, 102, 0);
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin-left: 31%;
    font-weight: bold;
    font-size: 18px;
}
